<div id="loginSpinner">
    <div class="spinnerText"></div>
</div>
<div id="loginMessages"></div>
<div id="loginDiv">
    <input type="text" id="usernameField" class="usernameField" value="{{usernameFieldText}}"/>
    <input type="password" id="passwordField" class="passwordField" value="{{passwordFieldText}}"/>
    <button class="clearButton button25px" tabindex="-1">
        <i id="loginButton" class="icon-right-circle">
            <span class="buttonText">{{loginButtonText}}</span>
        </i>
    </button>
    <button class="clearButton button25px" tabindex="-1">
        <i id="registerButton" class="icon-user-add">
            <span class="buttonText">{{registerButtonText}}</span>
        </i>
    </button>
</div>
<div id="logoutDiv"></div>

