<div style="line-height:40px; border:0 solid red; text-align:center; vertical-align: middle;">
    <input type="text" id="currentShapeStrokeColor"/>
    <input type="text" id="currentShapeFillColor"/>
</div>
<div id="shapeStrokeWidth"><span style="float:left; font-size:12px; margin-top:15px;">Width</span></div>

<div id="paperToolsContainer">
    <a class="toolActivator" id="circleTool" onclick="window.circleTool.activate();">Circle</a>
    <a class="toolActivator" id="rectangleTool" onclick="window.rectangleTool.activate();">Rectangle</a>
    <a class="toolActivator" id="ellipseTool" onclick="window.ellipseTool.activate();">Ellipse</a>
    <a class="toolActivator" id="bezierTool" onclick="window.bezierTool.activate();">Bezier</a>
    <a class="toolActivator" id="starTool" onclick="window.starTool.activate();">Star</a>
    <a class="toolActivator" id="imageTool" onclick="window.imageTool.activate()">Image</a><br />
    <a class="toolActivator" id="htmlTool" onclick="window.htmlTool.activate()">HTML</a>
    <a class="toolActivator" id="editTool" onclick="window.editTool.activate();">Drag</a>
</div>