<div id="textPreviewWrapper" style="position: absolute; display:none;">
    <p class="error" style="color: red; display: none">Text limit reached (512 characters)</p>
    <textarea id="textPreview" style="position: relative; border: 1px dotted #808080; padding: 10px; resize:none; width:250px; height:20px;     -webkit-border-radius: 3px;
    border-radius: 3px;"></textarea>

    <select id="textFontSelection" style="width:100%; margin-bottom:10px; -webkit-border-radius: 3px;
    border-radius: 3px; height: 30px;">
        <option value="Courier New">Courier New</option>
        <option value="Garamond">Garamond</option>
        <option value="Georgia">Georgia</option>
        <option value="Helvetica">Helvetica</option>
    </select>
    
    <input type="text" id="textFillColor" style="display:inline;"/>

    <div id="emphasisButtons" style="display:inline;">
        <input type="checkbox" id="emphasisBold"><label for="emphasisBold"><i class="icon-bold-1"></i></label>
        <input type="checkbox" id="emphasisItalic"><label for="emphasisItalic"><i class="icon-italic"></i></label>
    </div>

    </br>
    </br>
    
    <span>Text size <span id="currentFontSizeDisplay" style="font-weight:bold;">40px</span></span>
    <hr class="dottedHr">
    <div id="textSizeSlider"></div>

    <button id="newTextOKButton" style="position:relative;">Ok!</button>
    <button id="newTextCancelButton" style="position:relative;">Cancel</button>
</div>