<div id="timeMachine" class="tool">
    <h3 class="toolHeader">
        <i class="icon-back-in-time toolIcon timemachineIcon"></i>
        <a href="#">Time Machine</a>
    </h3>
    <div class="toolContent">
        <div id="timeDiv">
            <div>&nbsp;</div>
            <span id="rtspeed">Reverse</span><span id="maxspeed">Forward</span>
            <div id="timerange"></div>

            <p id="controlButtons">
                <button id="firstPathButton" class="timemachineButton1" title="First path"><i class="icon-fast-backward"></i></button>
                <button id="timeLapseButton" class="timemachineButton1" title="Play/Pause"><i class="icon-play"></i></button>
                <button id="nowButton" class="timemachineButton1" title="Last path"><i class="icon-fast-forward"></i></button>
            </p>

            <div id="now"></div>

            <div id="timelineslide"></div>

            <span id="timeLine">Timeline</span>
        </div>
    </div>
</div>