<div id="mainPublicWhiteboard" class="whiteboardList">
    <i class="icon-globe-2" style="color:#3d3d3d;"></i>
    <a class="whiteboardlink globalWhiteboard" href="/">
        <span style="color:darkblue; margin-left:5px;">{{globalWhiteboard}}</span>
    </a>
</div>

<div id="privateBoards" class="whiteboardList mod">
    <h4>
        <i class="icon-minus-circled" style="color:#3d3d3d;"></i>
        <span class="listHeader">{{private}}</span>
    </h4>
    <div class="accordionContainer">

        <input id="search_input_private" value="Type to filter" class="clearOnFocus"/>

        <div class="whiteboardContainer scrollbarStyle1">
            <ul id="privateBoardsContainer">
            </ul>
        </div>
    </div>
</div>

<div id="sharedBoards" class="whiteboardList mod">
    <h4>
        <i class="icon-minus-circled" style="color:#3d3d3d;"></i>
        <span class="listHeader">{{shared}}</span>
    </h4>
    <div class="accordionContainer">
        <input id="search_input_shared" value="Type to filter" class="clearOnFocus"/>
        <div class="whiteboardContainer scrollbarStyle1">
            <ul id="sharedBoardsListContainer">
            </ul>
        </div>
    </div>
</div>

<div id="publicBoards" class="whiteboardList mod">
    <h4>
        <i class="icon-minus-circled" style="color:#3d3d3d;"></i>
        <span class="listHeader">{{public}}</span>
    </h4>
    <div class="accordionContainer">
        <input id="search_input_public" value="Type to filter" class="clearOnFocus"/>
        <div class="whiteboardContainer scrollbarStyle1">
            <ul id="publicBoardsContainer">
            </ul>
        </div>
    </div>
</div>

<div id="newWhiteboards">
    <span id="newWhiteboardFieldText" style="line-height:20px; font-size:14px;">{{newWhiteboard}}</span>

    <input type="text" id="newWhiteboardNameField" class="newWhiteboardNameField" value="{{newWhiteboardNameField}}"/>

    <button class="clearButton button25px" tabindex="-1">
        <i id="newWhiteboardButton" class=" icon-plus-circled">
            <span class="buttonText">{{newWhiteboardsButtonText}}</span>
        </i>
    </button>

</div>

<div id="sharingSettingsDialog" title="" style="  z-index:1000;">
    <h2>Public access</h2>
    <hr>
    <div class="aclRule">
        <select id="aclPublicAccess">
            <option value="none">No public access</option>
            <option value="edit">Anyone can edit and chat</option>
            <option value="chat">Anyone can view and chat</option>
            <option value="view">Anyone can view</option>
        </select>
    </div>
    <br>
    <input id="shareLinkURL" type="text" value="" style="width:95%;"><br/>
    <span class="linkDescription">Share this link to give others access to your whiteboard.</span>

    <br><br><br>
    <h2>Who has access</h2>
    <hr>
    <div id="aclWrapper">
    </div>

    <div id="addUserWrapper">
        <input id="aclUsernameField" type="text" value="Add user..." style="width:205px;">
        <select id="newUserPermission">
            <option disabled>Select permission</option>
            <option value="admin">is admin</option>
            <option value="edit">can edit and chat</option>
            <option value="chat">can view and chat</option>
            <option value="view">can view</option>
        </select>
        <button id="addUserButton">+</button>
    </div>
</div>
