<div id="mainPublicWhiteboard" class="whiteboardList">
    <i class="icon-globe-2" style="color:#3d3d3d;"></i>
    <a class="whiteboardlink globalWhiteboard" href="/">
        <span style="color:darkblue; margin-left:5px;">{{globalWhiteboard}}</span>
    </a>
</div>

<div id="publicBoards" class="whiteboardList mod">
    <h4>
        <i class="icon-plus-circled" style="color:#3d3d3d;"></i>
        <span class="listHeader">{{public}}</span>
    </h4>
    <div class="accordionContainer">
        <input id="search_input_public" value="Type to filter" class="clearOnFocus"/>
        <div class="whiteboardContainer scrollbarStyle1">
            <ul id="publicBoardsContainer">
            </ul>
        </div>
    </div>
</div>