#chat,#showChatButton {
    position: absolute;
    right: 0
}

#chat {
    display: block;
    padding: 2px;
    width: 240px;
    height: 100%;
    background: #fff;
    margin: 0;
    -webkit-box-shadow: 1px 0 15px 0 rgba(40,40,40,.5);
    -moz-box-shadow: 1px 0 15px 0 rgba(40,40,40,.5);
    box-shadow: 1px 0 15px 0 rgba(40,40,40,.5);
    border: 1px solid #ccc;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3d3d3d",endColorstr="#212121",GradientType=0);
    z-index: 2;
    color: #666;
    font-size: 13px
}

.chatlogHeader {
    padding: 10px
}

.chatlogName,.whiteboardOwner {
    margin: 0 0 10px;
    font-size: 18px
}

.sharingSettingsButton {
    margin: 10px 0;
}

.messageContainer {
    right: 0;
    top: 135px;
    bottom: 49px;
    width: 240px;
    position: absolute;
    background: #fff;
    border: 1px solid #c8c8c8;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 10px 0 0;
    border-radius: 3px
}

.onlineUsers {
    position: relative
}

.userList {
    position: absolute;
    z-index: 2;
    background: #fff;
    margin: .5em;
    border: 1px solid gray;
    padding: .5em
}

.userItem {
    margin: .2em
}

.sharedChatContainer {
    top: 165px
}

#chat .messageElement {
    clear: both;
    padding: 0 3px 0 0;
    width: 200px
}

.messageElement a,.submitMessageButton:hover {
    color: #000
}

#chat,.messageElement a:link,.messageElement a:visited {
    text-decoration: none
}

.messageElement a:active,.messageElement a:hover {
    text-decoration: underline
}

#chat .recieved {
    padding-left: 10px
}

#chat .sent .user {
    color: green
}

#chatLogs .sent {
    padding-right: 10px;
    display: inline-block;
    float: right
}

.messageField {
    bottom: 6px;
    position: absolute;
    height: 40px;
    width: 203px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    resize: none;
    margin-top: 3px;
    word-wrap: break-word;
    border: 1px solid #d3d3d3
}

.messageElement {
    margin: 0 0 10px;
    border: 0 solid red
}

#chat .time {
    cursor: pointer;
    font-size: 10px
}

#chat .user {
    color: #000;
    font-weight: 700;
    cursor: pointer
}

#chat .message {
    font-size: 12px;
    font-weight: 400;
    margin: 5px 0 5px 5px;
    word-wrap: break-word
}

#chat .target {
    color: #3d3d3d;
    display: inline-block
}

#chat .target:hover {
    color: red
}

.submitMessageButton,.whiteButton {
    display: inline-block;
    text-decoration: none
}

.submitMessageButton {
    position: absolute;
    bottom: 12px;
    right: 2px;
    color: #3d3d3d;
    font-size: 25px
}

#showChatButton {
    z-index: 1;
    top: 10px;
    font-size: 40px;
    color: #3d3d3d
}

#hideChatButton {
    float: right;
    font-size: 25px;
    margin-top: 6px
}

.whiteButton {
    color: #333;
    height: 30px;
    cursor: pointer;
    vertical-align: top;
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    background-color: #eee;
    background-image: -webkit-linear-gradient(top,#fcfcfc,#eee);
    background-image: -moz-linear-gradient(top,#fcfcfc,#eee);
    background-image: linear-gradient(to bottom,#fcfcfc,#eee);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#fcfcfc', endColorstr='#eeeeee')";
    font: 600 12px -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif
}

.whiteButton:hover {
    background-color: #ddd;
    background-image: -webkit-linear-gradient(top,#eee,#ddd);
    background-image: -moz-linear-gradient(top,#eee,#ddd);
    background-image: linear-gradient(to bottom,#eee,#ddd);
    border-color: #ccc;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#dddddd')"
}

.whiteButton:active {
    position: relative;
    top: 1px
}