body {
    overflow: hidden
}

#chat,#toolbarWrapper,.canvas,#html,.htmlItem,#map,#uiWrapper,svg.map {
    position: absolute
}

#mfsb {
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    padding: 5px 6px;
    margin: 4px 0;
}

#now {
    display: inline-block
}

#map,#html,.canvas,#uiWrapper {
    left: 0;
    top: 0
}

#html,#map,.canvas,.map,body,html,#uiWrapper {
    height: 100%;
    width: 100%
}

#html,.canvas {
    overflow: hidden;
}

#html,.canvas,svg.map.drawingMode,#map {
    pointer-events: none
}

.compass .back {
    fill: #fff;
    fill-opacity: .8
}

.compass .fore {
    stroke: #999;
    stroke-width: 1px
}

.compass rect.back.fore {
    fill: #999;
    fill-opacity: .3;
    stroke: #eee;
    stroke-width: 1px;
    shape-rendering: crispEdges
}

.compass .direction {
    fill: none
}

.compass .chevron {
    fill: none;
    stroke: #999;
    stroke-width: 5px
}

.compass .zoom .chevron {
    stroke-width: 4px
}

.compass .active .chevron,.compass .chevron.active {
    stroke: #333
}

.compass.active .active .direction {
    fill: #999
}

:focus {
    outline: 0
}