#mfsb,body {
    background: #fff
}

body {
    font-family: "Ubuntu",Helvetica,Arial,sans-serif;
    overflow: hidden;
    outline: none
}

#chat,#html,#map,#toolbarWrapper,#uiWrapper,.canvas,.htmlItem,svg.map {
    position: absolute
}

#mfsb {
    border-radius: 5px;
    border-width: 1px;
    padding: 5px 6px;
    vertical-align: bottom;
    margin: 3px;
}

.toolbar-footer {
    margin: 3px 8px;
}

#now {
    display: inline-block
}

#html,#map,#uiWrapper,.canvas {
    left: 0;
    top: 0
}

#html,#map,#uiWrapper,.canvas,.map,body,html {
    height: 100%;
    width: 100%
}

#html,.canvas {
    overflow: hidden
}

#html,#map,.canvas,svg.map.drawingMode {
    pointer-events: none
}

.compass .back {
    fill: #fff;
    fill-opacity: .8
}

.compass .fore {
    stroke: #999;
    stroke-width: 1px
}

.compass rect.back.fore {
    fill: #999;
    fill-opacity: .3;
    stroke: #eee;
    stroke-width: 1px;
    shape-rendering: crispEdges
}

.compass .direction {
    fill: none
}

.compass .chevron {
    fill: none;
    stroke: #999;
    stroke-width: 5px
}

.compass .zoom .chevron {
    stroke-width: 4px
}

.compass .active .chevron,.compass .chevron.active {
    stroke: #333
}

.compass.active .active .direction {
    fill: #999
}

:focus {
    outline: 0
}

#html.active,g.zoom {
    pointer-events: all
}

.toolActivator.active {
    font-weight: 700
}

.active #htmlContainer {
    z-index: 1
}

#paperToolsContainer {
    text-align: center;
    line-height: 1.5;
    clear: both
}

.cursor-move {
    cursor: move
}

.no-pointer-events svg.map.drawingMode,.toolContent,svg.map.drawingMode>rect {
    display: none
}

.open .toolContent {
    display: block
}

.htmlItem {
    -webkit-transform-origin: left top 0;
    -ms-transform-origin: left top 0;
    transform-origin: left top 0
}

.htmlTool {
    position: fixed;
    bottom: 1em;
    left: 50%;
    z-index: 2;
    margin-right: -50%;
    transform: translate(-50%,0)
}

.htmlTool button {
    background: #fff;
    border-width: 1px;
    padding: 5px;
    border-color: #ddd;
    border-radius: 3px;
    margin: .5em
}

li,ul {
    position: relative;
    display: inline;
}

.scrollbarStyle1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    border-radius: 10px;
    background: #fff
}

.scrollbarStyle1::-webkit-scrollbar {
    width: 7px;
    border-radius: 10px;
    background: #e4e4e4
}

.scrollbarStyle1::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background: #3d3d3d
}

#connectionDialogSpinner {
    height: 80px
}

#reloadWarning {
    color: #f08080
}

#reconnectHeader {
    font-size: 15px
}

.dialog {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%)
}

.connectionDialog {
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 1px 0 15px 0 rgba(50,50,50,.5);
    border: 1px solid #bdbdbd;
    text-align: center;
    max-width: 280px;
    font: 12px "Ubuntu",Helvetica,Arial,sans-serif;
    background: #fff
}

.connectionDialog p {
    margin: 10px
}

.ui-widget-overlay {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #aaa;
    opacity: .3
}