<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta property="og:title" content="Infinite Whiteboard"/>
  <meta property="og:site_name" content="Infinite Whiteboard"/>
  <meta property="og:description" content="Infinite Whiteboard"/>
  <meta property="fb:app_id" content="388710587926740"/>
  <meta name="viewport" content="user-scalable=yes, initial-scale=0.75, width=device-width">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <title>Infinite Whiteboard</title>
  <link rel="shortcut icon" sizes="196x196" href="/images/icon.png">
  <link rel="shortcut icon" sizes="128x128" href="/images/icon-lores.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/touch-icon-iphone.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/touch-icon-ipad.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/touch-icon-iphone-retina.png">
  <link rel="apple-touch-icon" sizes="128x128" href="/images/icon-lores.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/touch-icon-ipad-retina.png">
  <link rel="apple-touch-icon" sizes="196x196" href="/images/icon.png">
  <SocketStream/>
</head>
<body>
<div id="uiWrapper">
  <i id="showChatButton" class="icon-group-circled" tabindex="-1" title="Show Chat"></i>
  <i id="showToolbarButton" class="icon-infinity" tabindex="-1" title="Show Tools"></i>
  <div style="overflow:hidden;">
    <canvas id="timeMachineCanvas" class="canvas" data-paper-resize="true"></canvas>
    <canvas id="canvas" class="canvas" data-paper-resize="true"></canvas>
    <div id="html">
      <div id="htmlContainer" style="position: relative;"></div>
    </div>
  </div>
  <div id="chat">
    <i id="hideChatButton" class="icon-right-circle" tabindex="-1" title="(H) Hide Chat"></i>
    <div id="chatLogs"></div>
  </div>
  <div id="map" tabindex="3" class="map"></div>
  <div class="toolBar" id="toolbarWrapper">
    <div id="toolbarHeader">
      <button id="hideToolbarButton" class="iconButton icon-left-circle" tabindex="-1" title="(H) Hide Tools"></button>
      <span id="displayName"></span>
      <button id="logoutButton" class="icon-off-1 iconButton" style="display: none" tabindex="-1"></button>
    </div>
    <div id="toolContainer" class="toolContainer" style="z-index: 10;">

      <div id="login" class="tool">
        <h3 class="toolHeader">
          <i class="toolIcon icon-infinity"></i>
          <a href="#" class="toolHeaderText">Login</a>
        </h3>

        <div class="toolContent">
          <div id="loginSpinner" style="display: none;">
            <div class="spinnerText"></div>
          </div>
          <div id="loginMessages"></div>
          <div id="loginDiv">
            <input type="text" id="usernameField" class="usernameField" title="Username" placeholder="Username">
            <input type="password" id="passwordField" class="passwordField" title="Password" placeholder="Password">
            <button class="clearButton button25px" tabindex="-1">
              <i id="loginButton" class="icon-right-circle">
                <span class="buttonText">Login</span>
              </i>
            </button>
            <button class="clearButton button25px" tabindex="-1">
              <i id="registerButton" class="icon-user-add">
                <span class="buttonText">Register</span>
              </i>
            </button>
          </div>
        </div>
      </div>

      <div id="pencil" class="tool">
        <h3 class="toolHeader">
          <i class="toolIcon icon-brush1 drawIcon"></i>
          <a href="#" class="toolHeaderText">Pencil</a>
        </h3>

        <div class="toolContent">
          <div style="line-height:40px; border:0; text-align:center; vertical-align: middle;">
            <div class="colorPicker" id="currentFillColor" title="Select fill color for pencil">
              <a class="color"><div class="colorInner"></div></a>
              <div class="track"></div>
              <ul class="dropdown"><li></li></ul>
              <input type="hidden" class="colorInput"/>
            </div>
            <div class="colorPicker" id="currentStrokeColor" title="Select stroke color for pencil">
              <a class="color"><div class="colorInner"></div></a>
              <div class="track"></div>
              <ul class="dropdown"><li></li></ul>
              <input type="hidden" class="colorInput"/>
            </div>
            <br>
            <label for="miterSelector">Cap</label>
            <select id="miterSelector" name="miterSelector">
              <option value="Round" selected="">Round</option>
              <option value="Butt">Butt</option>
            </select>
          </div>
          
          <input type="range" min="1" max="50" value="10" id="pencilStrokeWidth" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" />
          <div style="font-size:12px; margin-bottom: 10px;">Width</div>
          
          <div style="text-align: center">
            <a class="toolActivator" id="colorPickerTool" onclick="window.colorPickerTool.activate()">Picker</a>
            <a class="toolActivator" id="drawTool" onclick="window.drawTool.activate()">Draw</a>
            <a onclick="var s = this.nextElementSibling.style;s.display = s.display === '' ? 'none' : ''">Palette</a>
            <ul class="palette" style="display: none;"></ul>
          </div>
        </div>
      </div>

      <div id="shapes" class="tool">
        <h3 class="toolHeader">
          <i class="toolIcon icon-whiteboard1 shapesIcon"></i>
          <a href="#" class="toolHeaderText">Shapes</a>
        </h3>

        <div class="toolContent">
          <div style="line-height:40px; border:0; text-align:center; vertical-align: middle;">
            <div class="colorPicker" id="currentShapeFillColor" title="Select fill color for shape tools">
              <a class="color"><div class="colorInner"></div></a>
              <div class="track"></div>
              <ul class="dropdown"><li></li></ul>
              <input type="hidden" class="colorInput"/>
            </div>
            <div class="colorPicker" id="currentShapeStrokeColor" title="Select stroke color for shape tools">
              <a class="color"><div class="colorInner"></div></a>
              <div class="track"></div>
              <ul class="dropdown"><li></li></ul>
              <input type="hidden" class="colorInput"/>
            </div>
          </div>
          
          <input type="range" min="1" max="50" value="10" id="shapeStrokeWidth" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" />
          <div style="font-size:12px; margin-bottom: 10px;">Width</div>

          <div id="paperToolsContainer">
            <a class="toolActivator" id="circleTool" onclick="window.circleTool.activate();">Circle</a>
            <a class="toolActivator" id="rectangleTool" onclick="window.rectangleTool.activate();">Rectangle</a>
            <a class="toolActivator" id="ellipseTool" onclick="window.ellipseTool.activate();">Ellipse</a>
            <a class="toolActivator" id="bezierTool" onclick="window.bezierTool.activate();">Bezier</a>
            <a class="toolActivator" id="starTool" onclick="window.starTool.activate();">Star</a>
            <a class="toolActivator" id="imageTool" onclick="window.imageTool.activate()">Image</a><br>
            <a class="toolActivator" id="htmlTool" onclick="window.htmlTool.activate()">HTML</a>
            <a class="toolActivator" id="editTool" onclick="window.editTool.activate();">Drag</a>
          </div>
        </div>
      </div>
      
      <div id="textTool" class="tool">
        <h3 class="toolHeader">
          <i class="toolIcon icon-text textIcon"></i>
          <a href="#" class="toolHeaderText">Text</a>
        </h3>

        <div class="toolContent">
          <p>Click on the whiteboard <br>to type.</p>
        </div>
      </div>
      
      <div id="whiteboards" class="tool">
        <h3 class="toolHeader">
          <i class="toolIcon icon-whiteboards1 whiteboardIcon"></i>
          <a href="#" class="toolHeaderText">Whiteboards</a>
        </h3>

        <div class="toolContent">
          <div class="whiteboardList globalWhiteboard">
            <i class="icon-globe-2"></i>
            <a class="whiteboardlink listHeader" href="/" data-name="_global">
              <span data-name="_global">Global Whiteboard</span>
            </a>
          </div>

          <div id="privateBoards" class="whiteboardList" style="display: none;">
            <h4>
              <i class="icon-minus-circled"></i>
              <span class="listHeader">My whiteboards</span>
            </h4>
            <div class="accordionContainer">
              <input id="search_input_private" placeholder="Type to filter" title="Filter private whiteboards">
              <div class="whiteboardContainer scrollbarStyle1">
                <ul id="privateBoardsContainer"></ul>
              </div>
            </div>
          </div>

          <div id="sharedBoards" class="whiteboardList" style="display: none;">
            <h4>
              <i class="icon-minus-circled"></i>
              <span class="listHeader">Shared with me</span>
            </h4>
            <div class="accordionContainer">
              <input id="search_input_shared" placeholder="Type to filter" title="Filter shared whiteboards">
              <div class="whiteboardContainer scrollbarStyle1">
                <ul id="sharedBoardsListContainer"></ul>
              </div>
            </div>
          </div>

          <div id="publicBoards" class="whiteboardList">
            <h4>
              <i class="icon-minus-circled"></i>
              <span class="listHeader">Public</span>
            </h4>
            <div class="accordionContainer">
              <input id="search_input_public" placeholder="Type to filter" title="Filter public whiteboards">
              <div class="whiteboardContainer scrollbarStyle1">
                <ul id="publicBoardsContainer"></ul>
              </div>
            </div>
          </div>

          <div id="newWhiteboards">
            <span id="newWhiteboardFieldText" style="line-height:20px; font-size:14px;">Create new public whiteboard</span>
            <input type="text" id="newWhiteboardNameField" class="newWhiteboardNameField" placeholder="Whiteboard name">
            <button class="clearButton button25px" tabindex="-1">
              <i id="newWhiteboardButton" class=" icon-plus-circled">
                <span class="buttonText">Create</span>
              </i>
            </button>
          </div>
        </div>
      </div>

      <div id="timeMachine" class="tool">
        <h3 class="toolHeader">
          <i class="icon-back-in-time toolIcon timemachineIcon"></i>
          <a href="#">Time Machine</a>
        </h3>
        <div class="toolContent">
          <div id="timeDiv">
            <div>&nbsp;</div>
            <span id="rtspeed">Reverse</span><span id="maxspeed">Forward</span>
            <input type="range" id="timerange" min="-16" max="16" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" />

            <p id="controlButtons">
              <button id="firstPathButton" class="timemachineButton1" title="First path"><i class="icon-fast-backward"></i></button>
              <button id="timeLapseButton" class="timemachineButton1" title="Play/Pause"><i class="icon-play"></i></button>
              <button id="nowButton" class="timemachineButton1" title="Last path"><i class="icon-fast-forward"></i></button>
            </p>

            <div id="now"></div>

            <input type="range" id="timelineslide" min="0" max="100" value="0" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" />

            <span id="timeLine">Timeline</span>
          </div>
        </div>
      </div>
      
      <div id="places" class="tool">
        <h3 class="toolHeader">
          <i class="toolIcon icon-location placesIcon"></i>
          <a href="#" class="toolHeaderText">Locations</a>
        </h3>

        <div class="toolContent">
          <button class="icon-target iconButton" id="originButton">Origin</button>
          <button id="randomLocationButton" class="iconButton icon-help-circled">Random Location</button>
        </div>
      </div>
      
      <div id="interact" class="tool">
        <h3 class="toolHeader">
          <svg class="toolIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="30px" style="margin-left: 2px;margin-right: 5px;top: inherit;transform: translateY(8px);">
            <title>HTML5 Logo Badge</title>
            <path fill="#E34F26" d="M71,460 L30,0 481,0 440,460 255,512"></path>
            <path fill="#EF652A" d="M256,472 L405,431 440,37 256,37"></path>
            <path fill="#EBEBEB" d="M256,208 L181,208 176,150 256,150 256,94 255,94 114,94 115,109 129,265 256,265zM256,355 L255,355 192,338 188,293 158,293 132,293 139,382 255,414 256,414z"></path>
            <path fill="#FFF" d="M255,208 L255,265 325,265 318,338 255,355 255,414 371,382 372,372 385,223 387,208 371,208zM255,94 L255,129 255,150 255,150 392,150 392,150 392,150 393,138 396,109 397,94z"></path>
          </svg>
          <a href="#" class="toolHeaderText" tabindex="-1">Interact</a>
        </h3>

        <div class="toolContent">
          This allows you to interact with embedded content such as youtube videos, iframes, etc.
        </div>
      </div>
    </div>
    <div class="clear"></div>
    <div class="elementWrapper" id="betaFlag">BETA</div>
    <button id="mfsb" title="Multi-FullScreen mode, use several browser windows as one surface">MFS</button>
    <button id="compassToggle" class="iconButton icon-compass-circled" tabindex="-1" title="Show / Hide Compass"></button>
    <div class="clear"></div>
    
    <div id="textPreviewWrapper" style="position: absolute; display:none;">
      <p class="error" style="color: red; display: none">Text limit reached (512 characters)</p>
      <textarea title="textPreview" id="textPreview" 
                style="border: 1px dotted #808080; padding: 10px; width: 250px; resize: vertical; -webkit-border-radius: 3px; border-radius: 3px;"
      ></textarea>

      <select title="textFontSelection" id="textFontSelection" style="width:100%; margin-bottom:10px; -webkit-border-radius: 3px;
    border-radius: 3px; height: 30px;">
        <option value="Courier New">Courier New</option>
        <option value="Garamond">Garamond</option>
        <option value="Georgia">Georgia</option>
        <option value="Helvetica">Helvetica</option>
      </select>

      <div class="colorPicker" id="textFillColor" title="Text fill color">
        <a class="color"><div class="colorInner"></div></a>
        <div class="track"></div>
        <ul class="dropdown"><li></li></ul>
        <input type="hidden" class="colorInput"/>
      </div>

      <div id="emphasisButtons" style="display:inline;">
        <input type="checkbox" class="ui-helper-hidden-accessible" id="emphasisBold"><label for="emphasisBold"><i class="icon-bold-1"></i></label>
        <input type="checkbox" class="ui-helper-hidden-accessible" id="emphasisItalic"><label for="emphasisItalic"><i class="icon-italic"></i></label>
      </div>  

      <br />
      <br />

      <span>Text size <span id="currentFontSizeDisplay" style="font-weight:bold;">40px</span></span>
      <hr class="dottedHr">
      <input type="range" min="10" max="250" value="40" id="textSizeSlider" class="ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" />

      <button id="newTextOKButton" style="position:relative;">Ok!</button>
      <button id="newTextCancelButton" style="position:relative;">Cancel</button>
    </div>

    <div tabindex="-1" role="dialog"
         id="sharingSettingsDialog"
         class="dialog sharingSettingsDialog toolContainer"
         aria-describedby="sharingSettingsDialog"
         style="display: none;">

      <button id="closeAclDialogButton">Close</button>

      <h2>Public access</h2>
      <hr>
      <div class="anyoneRule">
        <select title="Access type" id="aclPublicAccess">
          <option value="none">No public access</option>
          <option value="edit">Anyone can edit and chat</option>
          <option value="chat">Anyone can view and chat</option>
          <option value="view">Anyone can view</option>
        </select>
      </div>

      <input title="Link for sharing" id="shareLinkURL" type="text" value="">

      <div class="linkDescription">Share this link to give others access to your whiteboard.</div>

      <h2>Who has access</h2>
      <hr>

      <div id="aclWrapper">
      </div>

      <div id="addUserWrapper">
        <input title="Username" id="aclUsernameField" type="text" placeholder="Enter username to add...">
        <select title="User permissions" id="newUserPermission">
          <option disabled="">Select permission</option>
          <option value="admin">is admin</option>
          <option value="edit">can edit and chat</option>
          <option value="chat">can view and chat</option>
          <option value="view">can view</option>
        </select>
        <button id="addUserButton">+</button>
      </div>
    </div>
  </div>
</div>

<div tabindex="-1"
     role="dialog"
     id="connectionDialog"
     class="connectionDialog dialog"
     aria-describedby="connectionDialog"
>
  <div id="connectionDialogSpinner"></div>
  <p id="reconnectHeader">Server connection</p>
  <p id="reconnectTimeoutDisplay">Connecting in 0 seconds.</p>
  <p id="reconnectAttemptsDisplay">First attempt</p>
  <p id="reloadWarning">Repeatedly reloading the browser might slow down your experience.</p>
</div>

<div class="ui-widget-overlay"></div>

</body>
</html>
