<div class="chatlog" id="chatlog-{{chatlogId}}">
    <div class="chatlogHeader">
        <div class="whiteboardOwner"><span style="font-size:10px">Owner</span><br>{{whiteboardOwner}}</div>
        <div class="chatlogName"><span style="font-size:10px">Whiteboard</span><br>{{chatlogDisplayName}}</div>
        <div class="onlineUsers">
            <span class="userCount">? User(s) online</span>
            <div class="userList" style="display: none"></div>
        </div>
        <button id="sharingSettingsButton" class="whiteButton">Share</button>
    </div>
    <div class="messageContainer scrollbarStyle1 sharedChatContainer"></div>
    <div class="chatField">
        <textarea id="{{chatlogName}}-messageField" class="messageField" tabindex="1"></textarea>
        <a id="{{chatlogName}}-submitMessageButton" class="submitMessageButton" href="#" tabindex="2" data-fieldId="{{chatlogName}}"><i class="{{submitMessageIcon}}"></i></a>
    </div>
</div>