.dottedHr {
    border: 1px dotted;
    color: #ccc;
    width: 100%
}

#textPreviewWrapper {
    background: rgba(255,255,255,.9);
    border: 1px solid #d3d3d3;
    padding: 10px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

#emphasisButtons {
    display: inline;
}

.emphasisButtons {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}